body {
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #eceef1;
}

a {
    text-decoration: none;
    color: #0077C5;  
}

button {
    border: 1px solid #505050;
    border-radius: 4px;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
    background: #167CCC;
}

button img{
    vertical-align: text-top;
}

/*---------------------------------------------------------------------------------------*/
#signin {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 

    padding-right: 20px;
    height: 60px;    
}

    #signin-text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        font-weight: 400;
        font-size: 12px;
        color: #505050;
        text-align: right;
        margin: 5px 0;
        padding-top: 5px;
        padding-right: 7px;
    }

    #signin-text > p {
        padding-bottom: 4px;
    }

#signin-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    #signin-button button {
        width: 100px;
        height: 34px;
        font-size: 0.93em;
    }

        #signin-button button img {
            width: 12px;
        }

/*---------------------------------------------------------------------------------------*/
#form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 1px solid #505050;
    box-sizing: border-box;
    margin: auto;
    overflow: visible;
    width: 380px;
    padding: 30px;
    line-height: 1.5;
    text-align: center;
    color: #4C4C4C;
    background-color:white;
}

#form-container > h2 {
    line-height: 2;
    font-weight: lighter;
    font-size: 24px;
}

#form-container > p {
    line-height: 1.3;
    font-size: 14px;
}

#form-container > a {
    line-height: 2;
    font-weight: lighter;
    font-size: 12px;
}

form {
    padding-top: 20px;
}

fieldset {
    border-style: none; 
    text-align: left;

    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
} 

fieldset > p {
     font-size: 10px;
 }

fieldset > label {
     font-size: 14px;
}
 
 fieldset > input {
    height: 34px;
    width: 320px;
}

#terms-captcha {
    font-size: 10px;
    padding:  16px;
    background-color: #ECEEF1
}

#button-create-account {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 44px;
    width: 318px;
}

#button-create-account > img {
    height: 1.1em;
    padding-right: 7px;
}

#terms-text {
    margin-bottom: 30px;
}