body {
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #eceef1;
}

a {
    text-decoration: none;
    color: #0077C5;  
}

button {
    border: 1px solid #505050;
    border-radius: 4px;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
    background: #167CCC;
}

button img{
    vertical-align: text-top;
}

#signin {
    display: flex;
    justify-content: flex-end;    
    padding-right: 20px;
    height: 60px;
    background-color: burlywood;
}

    #signin-text {
        display: inline-block;

        font-weight: 400;
        font-size: 12px;
        color: #505050;
        text-align: right;
        margin: 5px 0;

        background-color: purple;
    }

#signin-button {
    padding: 7px;
}

    #signin-button button {
        width: 100px;
        height: 34px;
        font-size: 0.93em;
    }

        #signin-button button img {
            width: 12px;
            padding-right: 5px;
        }
